
.App {
  text-align: center;

}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SignUpContainer {
  width:400px;
  height:590px;
  text-align:center;
  background: white;
  float: right;
  border-radius: 40px;
}

input[type=text], select {
  width: 60%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.UserImage {
  height: 180px;
  width: 180px;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 40px;
}

.SkateSection {
  background-color: black;
  size: cover;
  position: absolute;
}

.SkateSpotInfo {
  margin-top: 50px;
  background-color: gray;
  width: 480px;
  border-radius: 15px;
  text-align: center;
}

.navbar {
  height: 40px;
  background-color: black;
}

.navbarButton {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.formContainer {
  padding-top: 100px;
  text-align: center;
  background: url('./IMG_3524.jpeg');
  background-size: 100% 100%;
  height: 650px;
}
.loginFormContainer {
  padding-top: 100px;
  text-align: center;
  background: url('./IMG_1462.jpeg');
  background-size: 100% 100%;
  height: 650px;
}

.SkateSpotsContainer {
  height:100px;
}

.SkateMap {
  margin-left: 50px;
}
