
.App {
  text-align: center;
}

.navbar{
  font-size: 18px;
  background-color: black;
  font-family: 'Manjari', sans-serif;
}

.nav-link:hover {
  border-bottom: 1px solid #03adfc;
}

#Home {
  background-color: black;
  height: 100vh;
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

.title-container {
  border: 5px solid #03adfc;
  border-radius: 9px;
  height: 50%;
  color: white;
  font-family: 'Manjari', sans-serif;
  padding-top: 12%;
  text-align: center;
}

.LoginPage {
  height: 100vh;
  background-image: url('./IMG_0001.jpeg');
  background-size: 100% 100%;
  text-align: center;
  padding-top: 10%;
  padding-left: 30%;
}

.formContainer {
  border: 5px black solid;
  border-radius: 9px;
  height: 370px;
  width: 60%;
  padding-top: 50px;
  background-color: white;
}

.athlete-info-page {
  height: 100vh;
  background-color: black;
}

.athlete-social-card {
  border: 5px black solid;
  background-color: white;
  height: 100%;
  width: 30%;
  float: left;
  text-align: center;
}

.athlete-social-icons-row {
  height: 50px;
  width: 70px;
}

.athlete-info {
  background-color: white;
  height: 60%;
  border: 5px black solid;
}

.athlete-info-description {
  background-color: white;
  height: 100%;
}

.athlete-video-parts {
  height: 150px;
  background-color: white;
  border: 5px black solid;
}

.SkateSection {
  size: cover;
  position: absolute;
}

.SkateSpotInfo {
  margin-top: 50px;
  width: 480px;
  border-radius: 15px;
  text-align: center;
}

.savedSkateSpots {
  margin-top: 20px;
  margin-right: 80px;
  float: right;
  height: 170px;
  width: 900px;
  border-radius: 9px;
  border-style: solid;
}

.SavedSkateSpot {
  height: 120px;
  width: 140px;
  background-color: rgb(225, 231, 242, 0.9);
  float: left;
  border-style: solid;
  border-radius: 7px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}

.SkateMap {
  margin-left: 50px;
}


.profilePicture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  background-image: url('haroldHunter.jpeg');
  background-size: 100% 100% ;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.card {
  text-align: center;
  height: 40vh;
    border: 5px white solid;
}

.card-img-top {
  margin-top: 5px;
  height: 50%;
  border-style: groove;
}

.card-img {
  height: 100%;
  background-color: white;
}

.social-icon {
  height: 40px;
}

.sponsors, .athletes {
  background-color: black;
  height: 100vh;
}
