
.App {
  text-align: center;
  background: url('./IMG_0001.jpeg');
  background-size: 100% 100%;
  height: 700px;
}

.SkateSection {
  size: cover;
  position: absolute;
}

.SkateSpotInfo {
  margin-top: 50px;
  width: 480px;
  border-radius: 15px;
  text-align: center;
}

.savedSkateSpots {
  margin-top: 20px;
  margin-right: 80px;
  float: right;
  height: 170px;
  width: 900px;
  border-radius: 9px;
  border-style: solid;
}

.SavedSkateSpot {
  height: 120px;
  width: 140px;
  background-color: rgb(225, 231, 242, 0.9);
  float: left;
  border-style: solid;
  border-radius: 7px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}
.loginFormContainer {
  padding-top: 100px;
  text-align: center;
  background: url('./IMG_3524.jpeg');
  background-size: 100% 100%;
  height: 650px;
}

.SkateMap {
  margin-left: 50px;
}

.profilePicture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  background-image: url('haroldHunter.jpeg');
  background-size: 100% 100% ;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.card {
  text-align: center;
  height: 300px;
}

.nav-link:hover {
  font-weight: bold;
  color: white;
}
